<!-- <input type="text" [value]="searchValue" (input)="updateSeatchText($event)"> -->
<!-- <input type="text" [value]="searchValue" [(ngModel)]="searchValue">
<button class="btn btn-primary">Search</button>
<p>Search Value is : {{searchValue}}</p>
<h3>Heading</h3>
<button class="btn btn-primary">Submit</button> -->
<!-- <p>{{getName(name)}}</p> -->
<!-- <p>{{name}}</p>
<img [src]="product.pimg" alt="">
<input type="text" (input)="getName($event)">
<p>Product in Stock : {{product.isStock}}</p>
<p>{{cartVal}}</p>
<button (click)="addTocart()">Add</button>
<button (click)="removeCart()">Remove</button>
<div *ngFor="let item of [1,2,3,4,5,6]">
   Number : {{item}}
</div>
<div *ngFor="let stud of studName">
   <p>Student Name : {{stud}}</p>
</div> -->

<div>
   <a routerLink="home" fragment="async">Async</a>
   <a routerLink="home" fragment="behav">Behavior</a>
   <a routerLink="home" fragment="prod">Product</a>
</div>