<!-- <app-header></app-header> -->
<!-- <app-container></app-container> -->


<!-- <div>
    <h3>Heading2</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eveniet voluptates harum, quo dolores dicta vitae. Fugit vitae odio consectetur.</p>
    <button>Angular</button>
</div>
<div>
    <h3>Heading4</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eum eaque aut non id recusandae nisi, mollitia nobis maxime exercitationem!</p>
    <button>JS</button>
</div> -->
<!-- <app-ng-content>
    <h3 class="heading">Heading1</h3>
    <button class="btn_lang" (click)="getHeadingData()">Java</button>
</app-ng-content>
<app-ng-content>
    <h3 class="heading">Heading2</h3>
    <button class="btn_lang">Angular</button>
</app-ng-content>
<app-ng-content>
    <h3 class="heading">Heading3</h3>
    <button class="btn_lang">JS</button>
</app-ng-content> -->
<!-- <app-contentchild> -->
    <!-- <h3 #heading>Heading Java</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, corrupti!</p>
    <h3 #heading>Heading Java</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, corrupti!</p>
    <h3 #heading>Heading Java</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, corrupti!</p>
    <h3 #heading>Heading Java</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, corrupti!</p> -->
<!-- <app-ng-content  [name]="'Asha Jha'" [message]="'Hello World'"></app-ng-content>
<app-ng-content  [name]="'Sima Jha'"></app-ng-content>
<app-ng-content  [name]="'Rani Jha'"></app-ng-content>
</app-contentchild>
<h3  appSetBackground appHeighlite appHostbinding>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore iure consequuntur ea nisi optio exercitationem et odit vel animi eum.
</h3>
<app-lifecycle-hook ></app-lifecycle-hook> -->
<!-- <app-propvshost></app-propvshost> -->
<!-- <app-costum-directive></app-costum-directive> -->
<!-- <div>
    <h3>Heading 1</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, nobis voluptatibus nemo et perferendis quos autem laudantium explicabo incidunt ab.</p>
    <button (click)="getSubscribe()">Subscribe</button>
</div>
<div>
    <app-compo1></app-compo1>
    <app-compo2></app-compo2>
</div> -->
<!-- <app-user></app-user> -->
<!-- <app-observable></app-observable> -->
<!-- <app-map></app-map> -->
<!-- <app-filterObserver></app-filterObserver> -->
<!-- <app-subject-observable></app-subject-observable>
<div *ngFor="let x of task">
     {{x}}
</div> -->
<!-- <app-behavior-subject></app-behavior-subject> -->
<!-- <app-replay-subject></app-replay-subject> -->
<!-- <app-async-subject></app-async-subject> -->
<!-- <app-unsubscribe></app-unsubscribe> -->
<!-- <app-header></app-header> -->
<app-navigation></app-navigation>
<router-outlet></router-outlet>
<span class="loader" *ngIf="showLoading"></span>