<h3 [ngClass]="{textColor:true}">Heading Paraghraph</h3>
<input type="text" appSample [bgColor]="'blue'">
<div>
    <p appSample [display]="{textColor:true,textBgColor:true}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, nisi.</p>
</div>

<button>Save</button>

<div appStyle [style]="{backgroundColor:'red',color:'white'}">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore consequatur impedit voluptate, aliquid temporibus nemo. Exercitationem adipisci impedit sint inventore!</p>
</div>